{% load static %}

<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign-up</title>

    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/sign_up.css' %}">
    <link rel="stylesheet" href="{% static 'css/search-embedded.css' %}">

</head>
<body>
<form action="{% url 'members:sign-up' %}" method="POST" class="signup-form">
    {% csrf_token %}
    <i class="icon-twitter-bird"></i>
    <div class="signup-form-item">Create your account</div>
    <input name="username" class="signup-form-item" type="text" placeholder="name">
    <input name="email" class="signup-form-item" type="email" placeholder="email">
    <input name="password" class="signup-form-item" type="password" placeholder="password">
    <button class="signup-form-button">Next</button>
    {% if error %}
        <p style="color:red">{{ error }}</p>
    {% endif %}

</form>
</body>
</html>