{% extends 'base.html' %}

{% block content%}
<div class="post d-flex flex-row flex-nowrap align-items-start justify-content-between">
    <div class="img-profile pr-2" style="width: 20%">
        <img src="anna.jpeg" alt="">
    </div>
    <div class="d-flex flex-row flex-wrap align-items-start" style="width: 60%">
        <div class="w-100 font-weight-bold">
            Donald J. Trump
        </div>
        <div class="">
            <span class="font-weight-bold">47</span>
            Following
        </div>
        <div class="">
            <span class="font-weight-bold">123</span>
            Followers
        </div>
    </div>
    <button type="button" class="btn btn-primary rounded-pill h-50 align-self-center">Following</button>
    <!-- <button type="button" class="btn btn-outline-primary">Follow</button> -->
</div>
{% endblock %}