{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1"></div>

            <div class="col-2">
                <nav class="navbar">
                    <ul class="list-group">
                        <li class="logo list-group-item">
                            <a href="#">
                                <i class="fab fa-twitter" style="color:#1da1fe"></i>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'threads:thread-list' %}">
                                <i class="fas fa-home mr-3"></i><span>Home</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#">
                                <i class="fab fa-slack-hash mr-3"></i><span>Explore</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'members:profile' %}">
                                <i class="fas fa-user-circle mr-3"></i><span>Profile</span>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'members:log-out' %}">
                                <i class="fas fa-key mr-3"></i><span>Logout</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-5">

                <div class="nav-info-bar">
                    <a href="#" class="ml-3">Home</a>
                </div>

                <section class="content">
                     {% block content %}
                     {% endblock %}
                </section>
            </div>

            <div class="col-3">
                <div class="search-box">
                    <form action="" method="" class="search input-group md-form form-sm form-1 pl-0">
                        <i class="fas fa-search" aria-hidden="true"></i>
                        <input class="search-bar form-control my-0 py-1" type="text" placeholder="Search Twitter" aria-label="Search">
                    </form>
                </div>

                <div class="tag-box card">
                    <p class="tag-title">Trends for you</p>
                    <ul class="tag-list">
                        <li>
                            <a href="#">#SF91</a>
                        </li>
                        <li>
                            <a href="#">#SF91</a>
                        </li>
                        <li class="list-show-more">
                            <a href="#">SHOW MORE</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-1"></div>
        </div>
    </div>
</body>
</html>